.authprnt {
    background-image: url("../../../Assests/bgimg.png");
    /* Use relative path */
    background-size: cover;
    background-position: center;
    height: 100vh;

    .parentsignup {
        display: flex;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 145px;

        .imglogo {
            margin-bottom: 84px;
        }

        .mainprnttabsdiv {
            max-width: 420px;
            width: 100%;
            border-radius: 15px;
            border: 1px solid var(--Stroke, #EAEBED);
            background: #F6F6F6;
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 30px;

            h2 {
                color: #282828;
                text-align: center;
                font-size: 26px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            p {
                color: #949494;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .inputotp {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;
                width: 100%;

                .inputfieldotp {
                    border-radius: 8px;
                    border: 1px solid var(--Stroke, #EAEBED);
                    padding: 14px 20px;
                    max-width: 51px;
                    color: #282828;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    &:active{
                        border: 1px solid #129F07;
                    }
                }
            }

            .verificationbtn {

                width: 100%;
                padding: 15px 0px;
                border-radius: 15px;
                background: var(--Primary-Green, #129f07);
                border: none;
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
            }

            .footerauth {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                color: #949494;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;

                span {
                    color: #129F07;
                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                }
            }
        }
    }
}